/* Put your custom styles here */
img#fb_logo:hover{
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
 -webkit-box-shadow: 0px 0px 30px 0px rgba(59, 89, 152, 1);
-moz-box-shadow:    0px 0px 30px 0px rgba(59, 89, 152, 1);
box-shadow:         0px 0px 30px 0px rgba(59, 89, 152, 1);
}

img#fb_logo:last-of-type:hover{
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
 -webkit-box-shadow: 0px 0px 30px 0px rgba(59, 89, 152, 1);
-moz-box-shadow:    0px 0px 30px 0px rgba(59, 89, 152, 1);
box-shadow:         0px 0px 30px 0px rgba(59, 89, 152, 1);
}

img#tw_logo:hover{
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
 -webkit-box-shadow: 0px 0px 30px 0px rgba(0, 172, 237, 1);
-moz-box-shadow:    0px 0px 30px 0px rgba(0, 172, 237, 1);
box-shadow:         0px 0px 30px 0px rgba(0, 172, 237, 1);
}

img#tw_logo:last-of-type:hover{
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
 -webkit-box-shadow: 0px 0px 30px 0px rgba(0, 172, 237, 1);
-moz-box-shadow:    0px 0px 30px 0px rgba(0, 172, 237, 1);
box-shadow:         0px 0px 30px 0px rgba(0, 172, 237, 1);
}

img#inst_logo:hover{
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
 -webkit-box-shadow: 0px 0px 30px 0px rgba(81, 127, 164, 1);
-moz-box-shadow:    0px 0px 30px 0px rgba(81, 127, 164, 1);
box-shadow:         0px 0px 30px 0px rgba(81, 127, 164, 1);
}

img#inst_logo:last-of-type:hover{
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
 -webkit-box-shadow: 0px 0px 30px 0px rgba(81, 127, 164, 1);
-moz-box-shadow:    0px 0px 30px 0px rgba(81, 127, 164, 1);
box-shadow:         0px 0px 30px 0px rgba(81, 127, 164, 1);
}
